* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: auto;
    font-family: 'Fredoka', sans-serif;
    color: white;
}

header {
    text-align: center;
}

h1 {
    margin: 20px 0px 40px;
    color: rgb(255, 0, 98);
}

p {
    margin-bottom: 30px;
    color: black;
}

h3 {
    padding: 5px;
}

.column1 {
    width: calc(100% / 3);
}

.column1 img {
    width: 80px;
    height: 80px;
    margin-right: 5px;
}

.column1 {
    float: left;
    background-color: black;
    vertical-align: middle;
}

#marco {
    
}

.clearfix::after {
    content: '';
    clear:both;
    display: table;
}